<h1 class="number_task" 
  [ngClass]="{
    't1-5': numbTask >= 0 && numbTask <= 5,
    't6-10': numbTask >= 6 && numbTask <= 10,
    't11-15': numbTask > 10
  }">
  Número de tareas: {{ numbTask }}
</h1>

@if(form.get("title")?.invalid && (form.get("title")?.dirty || form.get("title")?.touched)) {
  <p>
    @if(form.get("title")?.errors?.["required"]) {
      <span>El título es requerido</span>
    }

    @if(form.get("title")?.errors?.["maxlength"]) {
      <span>Máximo escribir 8 caracteres</span>
    }
  </p>
}

<h2>Lista de tareas</h2>

<div class="container_task">
  @for (task of tasks; track task; let i = $index) {
    <div class="task">
      <span>{{ i + 1 }}</span> <span [ngClass]="{'task_subrayar': task.completed}" [appStatusTask]="task.completed">{{ task.title }}</span>
      <input class="task_checkbox" type="checkbox" [checked]="task.completed" (change)="markTaskCompleted(task, $event)">
      <button class="task_delete" (click)="delete(task.id)" [appStatusDelete]="task.title">Eliminar</button>
    </div>
  }
</div>

<form class="container_input" [formGroup]="form">
  <input type="text" placeholder="Ingresa la tarea" formControlName="title">
  <button type="button" [disabled]="!form.valid" [appStatusCreate]="form" [tasks]="tasks" (taskCreated)="sendTitleTask($event)">Enviar</button>
</form>
